*{margin: 0;}
.header{background:#3B5998;width: 100%;height:80px; }
.text{float: left;position: relative;left: 160px;top: 20px;font-family: 'arial'}
a {text-decoration: none; color: white; font-size: 40px;}
.sign-in{margin-left: 600px;float: left; margin-top: 15px;}
.nama{color: white;font-family: 'arial'}
.pass{margin-left:55px;color: white;font-family: 'arial'}
.masuk{background: #4267B2; color:white;padding: 5px;border-radius: 3px;font-weight: bold;border:0 ; font-family:'arial' }
img	{margin-top: 160px;float: left;margin-left: 150px;}
.lupa{color: white;margin-left: 180px;line-height: 1.34;}
.lupa a {text-decoration: none;font-size: 14px;color: white;font-family: 'arial';}
.clear{clear: both;}
.daftar{line-height: 1.34;margin-left: 650px;position: relative;top: 28px;left: 20px; font-family: 'arial';}
.teks{width:500px;margin: 0 auto;}
.ngaran{height: 30px;width: 192px;border-radius: 4px;border: 1px solid #AFAFC9;padding: 5px; margin-bottom: 7px;font-family: 'arial' }
.nomer{width: 400px;height: 30px; border-radius: 4px;border: 1px solid #AFAFC9;padding: 5px;margin-bottom: 7px;}
h1	{font-size: 40px;margin-right: 10px;margin-bottom: 10px}
h3{font-size: 19px;color: #1d2129;line-height: 1.34;}
.daf{width: 100px;height: 40px;line-height: 1.34;}
.tahun{padding: 5px;}
p{font-size: 14px; color: #CCC;line-height: 1.34;}
.daf{background: linear-gradient(#67ae55, #578843);background-color: #69a74e;border-color: #3b6e22 #3b6e22 #2c5115;border-radius: 5px;padding: 7px 20px; border:1px solid #ccc;padding: 10 5; color: white;min-width: 194px;    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}} 